.oshs-conversation-subject {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.oshs-conversation-status {
    float: right;
}

.oshs-message-block {
    margin-bottom: 20px !important;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px;
    padding-bottom: 10px;
}

.oshs-message-head {
    margin-left: 50px;
    font-style: italic;
    font-size: 12px;
}

.oshs-message-date {

}

.oshs-message-body {
    white-space: pre-line;
    padding: 10px;
    padding-left: 50px;
}

.oshs-message-by-customer {
    background-color: #fafafa;
}

.oshs-message-by-user {

}

.oshs-message-avatar {
    float: left;
    box-sizing: border-box;
}

.oshs-message-attachments {
    padding-left: 50px;
}

.oshs-message-attachments .oshs-message-attachment {
    margin-right: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 17px;
    border: 1px solid #f1f1f1;
    padding: 2px 8px;
    background: #fcfcfc;
    font-size: 10px;
}

.oshs-message-attachments i {
    font-size: 15px;
    margin-right: 5px;
}
