.oshs-conversation-subject {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.oshs-conversation-status {
    float: right;
}

.oshs-message-block {
    margin-bottom: 20px !important;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px;
    padding-bottom: 10px;
}

.oshs-message-head {
    margin-left: 50px;
    font-style: italic;
    font-size: 12px;
}

.oshs-message-date {

}

.oshs-message-body {
    white-space: pre-line;
    padding: 10px;
    padding-left: 50px;
}

.oshs-message-by-customer {
    background-color: #fafafa;
}

.oshs-message-by-user {

}

.oshs-message-avatar {
    float: left;
    box-sizing: border-box;
}
